.header{
    display: flex;
    padding: 5px;
    border-bottom: 3px solid #484e53;
}


.header_left {  
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.header_centerleft{
    font-size: 12px;
    display: flex;
    font-weight: 800;
    line-height: 1.5;
    margin-right: .5rem!important;
    vertical-align: middle;
    color: #f8f9fa!important;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.header_centercenter{
    border-left: 1px solid #f8f4f4!important; 
    border-right: 1px solid #f7f4f4!important;
    padding-right: .25rem!important;
    padding-left: .25rem!important;
    color: lightblue;
    font-size: .75rem;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.header_centerright{
    display: flex;
    color:green; 
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.header_centerleft > img {
    height: 30px;
    padding-right: .25rem!important;
    padding-left: .25rem!important;
    
}
.header_centerright > img {
    height: 20px;
    margin: 1px;
    padding-right: .25rem!important;
    padding-left: .25rem!important;

}



.header_middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #f8f9fa;
    font-size: .875rem;
    cursor: pointer;
    
}

.header_right{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
a {
    display: inline-block;
    padding: 10px;
    
}
.header_right button{
    cursor: pointer;
    border-radius: .25rem!important;
    padding: .25rem .5rem;
    font-size: .875rem;
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

}