.main{
    display: block;
    padding: 5px;
    justify-items: center;
    text-align: center;

}
.main_heading{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.main_table{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    height: 150px;
    
}
.main_table a{
    color: #171717;
    cursor: pointer;
    background-color: #d4d4d4;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: block;
    padding: .5rem 1rem;
    border: 1px solid rgba(0,0,0,.125);
}